body{
    padding-top: 60px;
    padding-bottom:60px;
}
.LeftSideImage{
    width: 200px;
    height: 200px;
}
.LeftSideImage2{
    width: 200px;
    height: 66px;
}
.logocontactimage{
    width: 25px;
    height: 25px;
}
.exp-logo {
    height: 80px !important;
    width: auto !important;
    object-fit: contain;
    max-width: 150px;
}